.dice-home {
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  &.green {
    background-color: green;
  }
  &.red {
    background-color: red;
  }
  &.blue {
    background-color: blue;
  }
  &.yellow {
    background-color: yellow;
  }
  .inner-section {
    background-color: #ffffff;
    width: 250px;
    height: 250px;
    padding: 30px;
    box-sizing: border-box;
    .circle-row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .circle {
        border-radius: 50px;
        width: 75px;
        height: 75px;
        margin-bottom: 40px;
        &.green {
          background-color: green;
        }
        &.red {
          background-color: red;
        }
        &.blue {
          background-color: blue;
        }
        &.yellow {
          background-color: yellow;
        }
      }
    }
  }
}
